<!DOCTYPE html>
<html>
<head>
  <link rel=stylesheet href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
  <div class="container">
    <div class="heading">Catalog App
    </div>
    <div class="login">
      {%if 'username' not in session %}
      <form action="{{url_for('showLogin')}}">
        <button>Login</a></button>
      </form>
    </div>
        {% else %}
      <form action="{{url_for('disconnect')}}">
        <button>Logout </a></button>
      </form>
    </div>
        {% endif %}
  </div>
  <div class="container2">
    <div class="main">
      <form action="{{url_for('newItem')}}" method='POST'>
        <h2>Add New Item</h2>
        <p>Title:</p><input type="text" size="30" name="name" placeholder="">
        <p>Description:</p><input type='text' size='30' name='description' placeholder="">
        <p>Price:</p><input type='text' size='30' name='price' placeholder=""><br>
        <p>Category: </p><select name="sportcategory_name">
            <option value="Soccer">Soccer
            </option>
            <option value="Baseball">Baseball
            </option>
            <option value="Football">Football
            </option>
            <option value="Snowboarding">Snowboarding
            </option>
            <option value="Hockey">Hockey
            </option>
            <option value="Weight Training">Weight Training
            </option>
        </select><input type="submit" value="Submit"><a href="{{url_for('catalogWelcome', categories = categories)}}">Cancel</a>
      </form>
    </div>
  </div>
</body>
</html>
